.interestsRecord {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .record-data {
        background-color: $helpr-lightGreyBackground;
        padding: .25rem .5rem;
        margin: .5rem .75rem 0 0;
        border-radius: .5rem;
    }
}