.jobRecord {
background-color: $helpr-lightGreyBackground;
padding: 2rem !important;
margin: 1rem 0;
border-radius: 1rem;
position: relative;
width: 100% !important;
cursor: default !important;

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: .75rem;
        right: .75rem;

        .icon {
            margin: 0 .5rem;
        }
    }

    .horizontal-container {
        .horizontal-division {
            .record-data {
                display: flex;
                align-items: center;
                margin: 0;
                
                h3 {
                    font-size: 1.5rem;
                }
                p {
                    margin: 0;
                    margin-left: .75rem;
                }
            }
        }
    }

    .record-data {
        align-items: center;
        text-align: center;
        margin-top: 1rem;
        
        h3 {
            font-size: 1.5rem;
        }
        p {
            margin: 0;
        }
    }

    .candidates {
        display: flex;
        align-items: center;

        p, a {
            margin: 0 1rem;
            font-size: 1.15rem;
        }
    }
}