.jobRecord {
    width: 50%;
    margin: 1rem auto;
    padding: .5rem 0;
    border: 2px solid $helpr-darkBlue;
    border-radius: .25rem;
    cursor: pointer;

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .horizontalDivision {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;


        .details {
            margin: 0 2rem;
            p {
                margin: 0;
                span {
                    font-weight: 600;
                }
            }
        }

        .btn {
            margin: 0 2rem;
        }
    }
}