.vacancyRecord {
background-color: $helpr-lightGreyBackground;
padding: 2rem;
margin: 1rem 0;
border-radius: 1rem;
position: relative;

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: .75rem;
        right: .75rem;

        .icon {
            margin: 0 .5rem;
        }
    }

    .horizontal-container {
        display: flex;
        justify-content: space-between;
        width: 80%;

        .horizontal-division {
            .record-data {
                display: flex;
                align-items: center;
                margin: 0;
                
                h3 {
                    font-size: 1.5rem;
                }
                p {
                    margin: 0;
                    margin-left: .75rem;
                }
            }
        }
    }

    .record-data {
        align-items: center;
        margin-top: 1rem;
        
        h3 {
            font-size: 1.5rem;
        }
        p {
            margin: 0;
        }
    }
}