.loginPage {
    h1 {
        color: $helpr-purple;
        text-align: center;
        margin-top: 1rem;
    }

    .horizontal-division {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            width: 25%;
            .input-container {
                display: flex;
                flex-direction: column;
                margin: 1rem 0;

                label {
                    color: $helpr-purple;
                    font-size: 1.25rem;
                }

                input, select {
                    padding: .25rem;
                }
            }
        }

        img {
            width: 30rem;
            margin: 1rem 1rem 1rem 3rem;
        }
    }

    h2 {
        color: $helpr-purple;
        text-align: center;
        margin-top: 1rem;
    }

    .loginMethods {
        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        button {
            margin: 0 1rem;
        }

        article {
            width: 8rem;
            height: 8rem;
            position: relative;
            overflow-y: hidden;
            cursor: pointer;
            margin: 1.5rem;
            transition: .3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon {
                font-size: 4rem;
                position: absolute;
                top: 1.5rem;
            }

            p {
                max-width: 7rem;
                font-size: .9rem;
                text-align: center;
                color: $helpr-greyedText;
                position: absolute;
                bottom: -5.5rem;
                opacity: 0;
                transition: .3s;
            }

            &:hover {
                transform: scale(1.05);
            }

            &:hover p {
                bottom: -1.2rem;
                opacity: 1;
            }
        }
    }
}