.titleRecordModal-organization {
        .input-container {
            display: flex;
            flex-direction: column;

            input {
                padding: 1rem !important;
                width: 90%;
            }
        }
}