.header {
    width: 100%;
    padding: .5rem 0;
    box-shadow: 0px 6px 5px 0px rgba(204,204,204,0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 8rem;
    }

    .btn-container {
        display: flex;

        .btn {
            margin: 0 1rem;
        }

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: .5rem 2rem 0 2rem;

            .icon {
                font-size: 1.8rem;
            }
            
            p {
                font-size: .85rem;
            }
        }

        /* Hack for profile bootstrap dropdown. */
        .dropdown {
            .dropdown-toggle::after {
                display: none;
            }

            button {
                background-color: white;
                height: 5rem;

                p {
                    color: black;
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .header {
        .btn-container {
            .btn {
                margin: 0 .5rem;
            }
        }
    }
}